{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-debugger": false,
    "new-cap": false
  },
  "globals": {
    "React": false,
    "_": false,
    "When": false,
    "axios": false,
    "autoBind": false,
    "classNames": false,
    "Reflux": false,
    "router": false
  },
  "plugins": [
    "react"
  ]
}
