.typeahead {
  padding-top: 11px;
  height: 64px;
  float: left;

  input {
    padding: 5px;
    width: 100%;
    background-color: rgb(250,250,250);
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }

  .typeahead-selector {
    position: relative;
    z-index: 5;
    line-height: 32px;
    padding: 0 10px;
    transition: background 0.15 linear;
    background-color: rgb(250,250,250);
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    list-style: none;

    li {
      &:hover, &.hover {
        background: rgb(238,238,238);
      };
      padding: 0 10px;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
